In [ ]:
import numpy as np
import pandas as pd
import math

from sklearn.metrics import confusion_matrix

In [ ]:
!gdown --id '1reRYfySXuRytE24CCgsINpGdC4X4NnPl' -O data_daun_a.csv
!gdown --id '1uYgW4LLLrS3NmMmfBlUFa6Nifk_CPD17' -O data_daun_b.csv
!gdown --id '1klhM0w98dpdIO-vUjn0S8WsLznmLU5FD' -O data_daun_c.csv
!gdown --id '1FnKNeqJ7sYLEM608NxiyRTilG_eL2N4i' -O data_daun_d.csv

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1reRYfySXuRytE24CCgsINpGdC4X4NnPl
To: /content/data_daun_a.csv
100% 409/409 [00:00<00:00, 555kB/s]
/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1uYgW4LLLrS3NmMmfBlUFa6Nifk_CPD17
To: /content/data_daun_b.csv
100% 401/401 [00:00<00:00, 443kB/s]
/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1klhM0w98dpdIO-vUjn0S8WsLznmLU5FD
To: /content/data_daun_c.csv
100% 386/386 [00:00<00:00, 448kB/s]
/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1FnKNeqJ7sYLEM608NxiyRTilG_eL2N4i
To: /content/data_daun_d.csv
100% 436/436 [00:00<00:00, 492kB/s]

In [ ]:
DAUN_A = pd.read_csv('data_daun_a.csv').to_numpy() # Konversi DataFrame ke Numpy Array
DAUN_B = pd.read_csv('data_daun_b.csv').to_numpy()
DAUN_C = pd.read_csv('data_daun_c.csv').to_numpy()
DAUN_D = pd.read_csv('data_daun_d.csv').to_numpy()

data_daun = np.array([DAUN_A, DAUN_B, DAUN_C, DAUN_D]) # menyatukan semua daun ke dalam suatu array

# functions lama (euclidean, similaritas, dkk)

In [ ]:
# Perhitungan Euclidean
def euclidean(x1,x2):
  return np.sqrt(np.sum((x1-x2)**2))

# Menghitung seluruh Euclidean Daun A,B,C,D
def count_all_euclidean(input,db):
  out = [] # array kosong
  for i in range(input.shape[0]):
    out.append([]) # menambahkan panjang array dimensi pertama
    for j in range(input.shape[1]):
      out[i].append([])  # menambahkan panjang array dimensi kedua
      for k in range(input.shape[2]):
        out[i][j].append([]) # menambahkan panjang array dimensi ketiga
        out[i][j][k] = euclidean(input[i][j],db[k]) # mengisi nilai aray ketiga dengan nilai dari fungsi euclidean

  return out

In [ ]:
# menghitung cosinus antar data daun
def cosinus(x1,x2):
  # jumlah seluruh dari x1*x2
  total_atas = sum(x1*x2) 
  # np.square untuk mengkalikan dirinya (x*x) x untuk masing masing element dari array
  total_bawah = math.sqrt(sum(np.square(x1))) * math.sqrt(sum(np.square(x2))) 
  return total_atas / total_bawah

# menghitung seluruh cosinus antar input dalam bentuk array 3d dan data daun dalam bentuk array 2d
def count_all_cosinus(input,db):
  out = []
  for i in range(input.shape[0]):
    out.append([])
    for j in range(input.shape[1]):
      out[i].append([])
      for k in range(input.shape[2]):
        out[i][j].append([])
        out[i][j][k] = cosinus(input[i][j],db[k])

  return out

In [ ]:
# Konversi array 3D ke 2D
def arr3dto2d(arr):
  out = []
  for y in arr:
    for x in y:
      out.append(x)
  return out


# mendapatkan nilai terendah
def getMin(arr):
  out = []
  for x in arr:
      out.append(np.argsort(x)[0])
  
  return out

# mendapatkan nilai tertinggi
def getMax(arr):
  out = []
  for x in arr:
      out.append(np.argsort(x)[3])
  
  return out

# Menghitung Akurasi
def accuracy(arr,data):
  error = 0
  value = ["A","B","C","D"] 
  for i in range(len(arr)):
   if value[arr[i]] != data[i]:
    error += 1

  return ((len(arr)-error)/len(arr))*100

# inisialisasi data manual

In [ ]:
# 2 FOLD
# INPUT1 1:10, DB AVR 11:20
section1 = np.array(
    [
      DAUN_A[0:10], 
      DAUN_B[0:10], 
      DAUN_C[0:10],
      DAUN_D[0:10]
    ]
  )

db_section1 = np.array([
      np.average(DAUN_A[10:20], axis = 0), 
      np.average(DAUN_B[10:20], axis = 0), 
      np.average(DAUN_C[10:20], axis = 0),
      np.average(DAUN_D[10:20], axis = 0)
])

# INPUT2 11:20 DB AVR 0:10
section2 = np.array([
      DAUN_A[10:20],
      DAUN_B[10:20],
      DAUN_C[10:20],
      DAUN_D[10:20]])

db_section2 = np.array([
    np.average(DAUN_A[0:10], axis = 0), 
      np.average(DAUN_B[0:10], axis = 0), 
      np.average(DAUN_C[0:10], axis = 0),
      np.average(DAUN_D[0:10], axis = 0)
])

## membuat ekspektasi hasil fold 2

In [ ]:
# fold 2
RAW_10 = "A"*10+"B"*10+"C"*10+"D"*10
EXPECTED_VAL_10 = [*RAW_10]

In [ ]:
DAUN = ["A","B","C","D"] # Untuk Menyimpan jenis Daun yang digunakan
DAUN_INPUT_1 = []
for i in range(len(DAUN)):
  for j in range(section1.shape[1]):
    DAUN_INPUT_1.append(str(DAUN[i]) + str(j+1))

DAUN_INPUT_2 = []
for i in range(len(DAUN)):
  for j in range(section2.shape[1]):
    DAUN_INPUT_2.append(str(DAUN[i]) + str(j+11))

# 2 FOLD

## EUCLIDEAN

### fold 1

In [ ]:
# 2 folding section A

KOLOM = ["Input\DBR","A11:A20","B11:B20","C11:C20","D11:D20","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(section1,db_section1) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output1 = getMin(data2d) # mengambil output daun
akurasi = accuracy(output1,EXPECTED_VAL_10) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_1[i])
  data2d[i].insert(len(data2d[i]),DAUN[output1[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DBR    A11:A20    B11:B20    C11:C20    D11:D20 OUTPUT
0         A1   1.552168  22.777584   5.611874   5.413891      A
1         A2   0.655153  21.672683   5.345571   4.796907      A
2         A3   1.170993  22.649552   5.689036   5.410981      A
3         A4   1.181144  21.621725   5.462417   4.962242      A
4         A5   1.128096  22.404054   5.027475   4.840521      A
5         A6   0.738309  21.758286   5.692275   5.099377      A
6         A7   2.828296  24.057795   6.811729   6.697904      A
7         A8   0.921466  22.305013   5.749261   5.291129      A
8         A9   3.347327  24.747481   6.690852   6.922214      A
9        A10   3.911598  25.227137   6.886763   7.254119      A
10        B1  26.873765   7.819907  24.108652  23.246880      B
11        B2  23.762630   2.796147  21.645958  20.546923      B
12        B3  18.709706   5.682358  17.952103  16.528232      B
13        B4  28.298308   8.918567  25.527791  24.680341      B
14        B5  26.602652   8.029308  23.545998  22.803492      B
15        B6  22.203437   5.060834  19.306463  18.485244      B
16        B7  21.907102   6.856974  18.650844  17.982676      B
17        B8  26.168019   4.684484  24.168639  23.055427      B
18        B9  20.003380   1.703766  18.027810  16.867202      B
19       B10  18.202104   3.623981  16.108367  14.961826      B
20        C1   6.872598  21.803097   2.800625   4.476499      C
21        C2   4.985840  23.369853   3.832949   4.997323      C
22        C3   8.293678  20.779961   3.609155   5.002204      C
23        C4   5.867419  22.318630   2.901637   4.307347      C
24        C5   4.905212  24.248158   4.835494   5.899665      C
25        C6   7.472556  21.900315   3.411451   4.991577      C
26        C7  10.625687  14.466677   6.512843   6.209816      D
27        C8   3.537103  20.313808   2.818155   2.571972      D
28        C9   4.291646  22.762268   3.690545   4.452417      C
29       C10   4.893373  18.729997   4.322731   3.586927      D
30        D1   5.765683  23.975904   5.869071   6.607802      A
31        D2   5.601839  17.260065   2.942023   1.879745      D
32        D3   1.374263  20.987709   5.010140   4.249499      A
33        D4   0.963963  22.062999   4.865915   4.540332      A
34        D5   1.568351  20.852334   4.004750   3.422551      A
35        D6   6.502815  17.275542   2.490281   1.976067      D
36        D7   5.564117  18.968563   0.770649   1.585624      C
37        D8   4.665951  17.358633   3.325507   1.618778      D
38        D9   2.422442  23.436772   5.478150   5.547605      A
39       D10   1.440347  22.086633   4.741466   4.516729      A

### fold 2

In [ ]:
# 2 folding section B

KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(section2,db_section2) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output2 = getMin(data2d) # mengambil output daun
akurasi = accuracy(output2,EXPECTED_VAL_10) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output2[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB     A1:A10     B1:B10     C1:C10     D1:D10 OUTPUT
0       A11   2.570054  22.469879   6.272145   3.237454      A
1       A12   3.147269  21.527558   5.884667   2.874310      D
2       A13   2.076518  22.533927   4.995178   2.764129      A
3       A14   1.360028  24.405915   6.628258   3.997113      A
4       A15   0.951211  23.691234   5.869182   3.358074      A
5       A16   0.626340  23.819340   5.101304   2.897768      A
6       A17   1.197362  23.291944   4.932727   2.670002      A
7       A18   0.865478  23.515675   5.316888   2.830859      A
8       A19   3.350903  21.402499   3.870052   2.232658      D
9       A20   1.009605  23.436624   5.183368   2.845533      A
10      B11  24.376142   2.457186  22.152366  21.706954      B
11      B12  23.489334  12.269351  23.531836  21.749751      B
12      B13  24.772968   0.974199  22.271322  22.074162      B
13      B14  21.586655   4.214150  19.653849  19.013950      B
14      B15  26.951212   2.760754  24.245892  24.145307      B
15      B16  19.800446   6.477156  18.357881  17.505322      B
16      B17  21.677246   6.518833  20.471173  19.460226      B
17      B18  22.535870   3.324555  20.246822  19.797541      B
18      B19  20.196984   4.248701  17.630876  17.395905      B
19      B20  26.705492   2.427378  23.895508  23.894427      B
20      C11   2.330180  22.978420   3.480219   1.571340      D
21      C12   7.106963  18.866241   2.942414   3.967847      C
22      C13   3.561424  21.694391   2.577193   0.987173      D
23      C14   9.753098  16.570898   5.353111   6.622719      C
24      C15   9.406510  15.526347   6.257779   6.281211      C
25      C16   7.407972  20.609769   2.478568   5.106482      C
26      C17   2.666351  23.175277   3.257269   1.675891      D
27      C18   6.628607  22.635774   2.032191   4.498623      C
28      C19   5.534216  24.577969   3.201453   4.644605      C
29      C20   7.425281  19.600035   2.605629   4.377198      C
30      D11   5.015768  21.572516   1.491912   2.175364      C
31      D12   7.477599  17.089622   5.326624   4.644396      D
32      D13   5.606608  19.126938   3.800697   2.473168      D
33      D14   7.653083  16.929072   5.560018   4.657307      D
34      D15   7.333147  17.417605   4.778630   4.286742      D
35      D16   6.166162  18.999654   3.251031   2.889837      D
36      D17   9.164104  15.802132   5.950403   6.098169      C
37      D18   4.526173  22.053993   1.921959   2.864875      C
38      D19   3.816386  22.393431   1.821895   1.888878      C
39      D20   2.712066  24.318533   3.709892   3.158807      A

### CONFUSION MATRIX

#### functions

In [ ]:
def confusion_m(actual, predicted, label=["A", "B", "C", "D"]):
  c = confusion_matrix(actual,predicted)
  df = pd.DataFrame(data=c, columns=label, index=label)
  return df.T

In [ ]:
def summary_confusion_m(base, outputs, label=["A", "B", "C", "D"]):
  confusionM = []
  start = 0
  end = base
  for i in range(4):
    totalOutput = sum([outputs[j][start:end].count(i) for j in range(len(outputs))])
    confusionM.append(totalOutput)
    # confusionM.append(output1[start:end].count(i) + output2[start:end].count(i))
    start += base
    end += base

  df = pd.DataFrame({
      "DAUN":DAUN,
      "Total":confusionM
  })
  total_len_output = sum([len(out) for out in outputs])
  print('accuracy: ', (sum(confusionM)/total_len_output)*100)
  print(sum(confusionM), '/', total_len_output)

  return df

#### implement

In [ ]:
y_true = [DAUN[out] for out in output1]
y_pred = [DAUN_INPUT_2[i][0] for i in range(len(DAUN_INPUT_2))]
result = confusion_m(y_true, y_pred)
result

# yang atas input, bacanya dari atas bawah -> kiri kanan

    A   B  C  D
A  10   0  0  0
B   0  10  0  0
C   0   0  7  3
D   6   0  1  3

In [ ]:
y_true = [DAUN[out] for out in output2]
y_pred = [DAUN_INPUT_2[i][0] for i in range(len(DAUN_INPUT_2))]
result = confusion_m(y_true, y_pred)
result

   A   B  C  D
A  8   0  0  2
B  0  10  0  0
C  0   0  7  3
D  1   0  4  5

### HASIL EUCLIDEAN 2 FOLD

In [ ]:
result = summary_confusion_m(10, [output1, output2])
result

accuracy:  75.0
60 / 80

  DAUN  Total
0    A     18
1    B     20
2    C     14
3    D      8

## Simlaritas

### fold 1

In [ ]:
KOLOM = ["Input\DBR","A11:A20","B11:B20","C11:C20","D11:D20","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(section1,db_section1) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output1 = getMax(data2d) # mengambil output1 daun
akurasi = accuracy(output1,EXPECTED_VAL_10) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_1[i])
  data2d[i].insert(len(data2d[i]),DAUN[output1[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 67

   Input\DBR   A11:A20   B11:B20   C11:C20   D11:D20 OUTPUT
0         A1  0.999570  0.993824  0.995453  0.998350      A
1         A2  0.999824  0.995591  0.993332  0.997217      A
2         A3  0.999911  0.993657  0.994511  0.997742      A
3         A4  0.999348  0.994464  0.992383  0.996061      A
4         A5  0.999640  0.992235  0.996286  0.998784      A
5         A6  0.999800  0.995934  0.992030  0.996343      A
6         A7  0.998572  0.989754  0.993341  0.996490      A
7         A8  0.999956  0.995407  0.993418  0.997405      A
8         A9  0.998277  0.986857  0.996878  0.998105      A
9        A10  0.997130  0.984068  0.997520  0.997938      D
10        B1  0.998251  0.995456  0.991912  0.996628      A
11        B2  0.996376  0.999660  0.984186  0.991339      B
12        B3  0.983981  0.996707  0.964047  0.974597      B
13        B4  0.998584  0.995590  0.991999  0.996702      A
14        B5  0.998830  0.994515  0.995661  0.998916      D
15        B6  0.998917  0.995834  0.994619  0.998287      A
16        B7  0.998274  0.992046  0.997618  0.999701      D
17        B8  0.993827  0.999926  0.979856  0.987781      B
18        B9  0.996150  0.999836  0.984309  0.991325      B
19       B10  0.996715  0.999442  0.986761  0.993096      B
20        C1  0.982631  0.964083  0.997112  0.992740      C
21        C2  0.988377  0.970361  0.998415  0.995458      C
22        C3  0.980267  0.960301  0.995674  0.990992      C
23        C4  0.985534  0.969057  0.998043  0.994765      C
24        C5  0.988818  0.969702  0.997870  0.994719      C
25        C6  0.980209  0.959366  0.995514  0.990653      C
26        C7  0.993892  0.982045  0.999641  0.999092      C
27        C8  0.995757  0.989710  0.997886  0.999108      D
28        C9  0.991470  0.976112  0.998338  0.997023      C
29       C10  0.994089  0.992123  0.992782  0.995238      D
30        D1  0.984450  0.975097  0.993493  0.991389      C
31        D2  0.997142  0.990778  0.997713  0.999168      D
32        D3  0.999185  0.996832  0.993253  0.997462      A
33        D4  0.999647  0.993040  0.996018  0.998904      A
34        D5  0.999124  0.994114  0.996207  0.999078      A
35        D6  0.995443  0.985993  0.999492  0.999688      D
36        D7  0.994175  0.981765  0.999988  0.999097      C
37        D8  0.999080  0.994029  0.996278  0.999167      D
38        D9  0.998529  0.990877  0.998063  0.999850      D
39       D10  0.999118  0.993206  0.996654  0.999132      D

### fold 2

In [ ]:
KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(section2,db_section2) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output2 = getMax(data2d) # mengambil output2 daun
akurasi = accuracy(output2,EXPECTED_VAL_10) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output2[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB    A1:A10    B1:B10    C1:C10    D1:D10 OUTPUT
0       A11  0.998227  0.999397  0.984970  0.996002      B
1       A12  0.998747  0.999036  0.986061  0.996480      B
2       A13  0.999586  0.996840  0.990939  0.997123      A
3       A14  0.999075  0.998994  0.987269  0.997031      A
4       A15  0.999743  0.997557  0.989175  0.997222      A
5       A16  0.999946  0.997045  0.993160  0.998724      A
6       A17  0.999843  0.997207  0.992632  0.998323      A
7       A18  0.999926  0.997907  0.991544  0.998414      A
8       A19  0.999334  0.995571  0.994014  0.997914      A
9       A20  0.999953  0.996540  0.991729  0.998044      A
10      B11  0.993664  0.999023  0.977928  0.992263      B
11      B12  0.961317  0.976046  0.926041  0.955458      B
12      B13  0.996154  0.999869  0.982819  0.994581      B
13      B14  0.992325  0.998637  0.975403  0.990490      B
14      B15  0.996245  0.999838  0.984429  0.995791      B
15      B16  0.990705  0.997128  0.970497  0.986736      B
16      B17  0.986526  0.994753  0.962956  0.982028      B
17      B18  0.994135  0.998836  0.980004  0.993586      B
18      B19  0.996916  0.999900  0.986145  0.996606      B
19      B20  0.997186  0.999966  0.986476  0.996631      B
20      C11  0.998481  0.995469  0.997019  0.999756      D
21      C12  0.995870  0.990242  0.999251  0.998599      C
22      C13  0.998012  0.994775  0.997581  0.999585      D
23      C14  0.994699  0.989569  0.999573  0.997765      C
24      C15  0.998232  0.996207  0.996361  0.999923      D
25      C16  0.989895  0.980120  0.998894  0.992601      C
26      C17  0.997519  0.994196  0.997862  0.999731      D
27      C18  0.985844  0.976696  0.998339  0.991753      C
28      C19  0.986059  0.975974  0.998050  0.991398      C
29      C20  0.992567  0.985513  0.999495  0.996618      C
30      D11  0.994279  0.989191  0.999119  0.998201      C
31      D12  0.998993  0.997860  0.994108  0.999206      D
32      D13  0.998591  0.997153  0.995285  0.999876      D
33      D14  0.998806  0.997984  0.993590  0.999664      D
34      D15  0.998476  0.997055  0.995532  0.999650      D
35      D16  0.997775  0.994557  0.997380  0.999866      D
36      D17  0.998427  0.995738  0.996849  0.999762      D
37      D18  0.994836  0.988965  0.998704  0.996532      C
38      D19  0.996134  0.990861  0.999295  0.998527      C
39      D20  0.996419  0.991299  0.998854  0.998172      C

### CONFUSION MATRIX

In [ ]:
y_true = [DAUN[out] for out in output1]
y_pred = [DAUN_INPUT_2[i][0] for i in range(len(DAUN_INPUT_2))]
result = confusion_m(y_true, y_pred)
result

# yang atas input, bacanya dari atas bawah -> kiri kanan

   A  B  C  D
A  9  0  0  1
B  3  5  0  2
C  0  0  8  2
D  3  0  2  5

In [ ]:
y_true = [DAUN[out] for out in output2]
y_pred = [DAUN_INPUT_2[i][0] for i in range(len(DAUN_INPUT_2))]
result = confusion_m(y_true, y_pred)
result

   A   B  C  D
A  8   2  0  0
B  0  10  0  0
C  0   0  6  4
D  0   0  4  6

### HASIL SIMILARITAS 2 FOLD

In [ ]:
result = summary_confusion_m(10, [output1, output2])
result

accuracy:  71.25
57 / 80

  DAUN  Total
0    A     17
1    B     15
2    C     14
3    D     11

# 4 FOLD

# Inisialisasi data

## manual

In [ ]:
# 4 FOLD -> 4 section
# INPUT1 1:5, DB AVR 5:20
section1 = np.array(
    [
      DAUN_A[0:5], 
      DAUN_B[0:5], 
      DAUN_C[0:5],
      DAUN_D[0:5]
    ]
  )

db_section1 = np.array([
      np.average(DAUN_A[5:20], axis = 0), 
      np.average(DAUN_B[5:20], axis = 0), 
      np.average(DAUN_C[5:20], axis = 0),
      np.average(DAUN_D[5:20], axis = 0)
])

# INPUT2 5:10, DB AVR 1:5, 10:20
section2 = np.array([
      DAUN_A[5:10],
      DAUN_B[5:10],
      DAUN_C[5:10],
      DAUN_D[5:10]])

db_section2 = np.array([
      np.average((np.concatenate((DAUN_A[0:5],DAUN_A[10:20]))), axis = 0), 
      np.average((np.concatenate((DAUN_B[0:5],DAUN_B[10:20]))), axis = 0), 
      np.average((np.concatenate((DAUN_C[0:5],DAUN_C[10:20]))), axis = 0),
      np.average((np.concatenate((DAUN_D[0:5],DAUN_D[10:20]))), axis = 0)
])

# INPUT3 10:15, DB AVR 1:10, 15:20
section3 = np.array([
      DAUN_A[10:15],
      DAUN_B[10:15],
      DAUN_C[10:15],
      DAUN_D[10:15]])

db_section3 = np.array([
      np.average((np.concatenate((DAUN_A[0:10],DAUN_A[15:20]))), axis = 0), 
      np.average((np.concatenate((DAUN_B[0:10],DAUN_B[15:20]))), axis = 0), 
      np.average((np.concatenate((DAUN_C[0:10],DAUN_C[15:20]))), axis = 0),
      np.average((np.concatenate((DAUN_D[0:10],DAUN_D[15:20]))), axis = 0)
])

# INPUT4 15:20, DB AVR 1:15
section4 = np.array(
    [
      DAUN_A[15:20], 
      DAUN_B[15:20], 
      DAUN_C[15:20],
      DAUN_D[15:20]
    ]
  )

db_section4 = np.array([
      np.average(DAUN_A[0:15], axis = 0), 
      np.average(DAUN_B[0:15], axis = 0), 
      np.average(DAUN_C[0:15], axis = 0),
      np.average(DAUN_D[0:15], axis = 0)
])

## menggunakan function

## function folding

In [ ]:
def folding(data, num_of_fold):
  sections = [] # tempat untuk menyimpan setiap input dan database pada suatu folding
  """
  sections = [
    #1 [input, db],
    #2 [input, db],
    ...
  ]
  """
  temp_daun = [] # tempat sementara untuk menyimpan daun2 yang sudah di-split berdasar besaran folding
  """
  temp_daun = [
    daunA [daunA[0:5], daunA[5:10, ...]],
    daunB [daunB[0:5], daunB[5:10, ...]],
    ...
  ]
  """
  for i in range(len(data)):
    temp_daun.append([])

  for index, daun in enumerate(data):
    base = int(data.shape[1]/num_of_fold)
    for i in range(0, len(daun), base):
      temp_daun[index].append(daun[i:i+base])

  # for loop diatas digunakan untuk menjadikan array temp_daun seperti yang tertera diatas.

  for i in range(num_of_fold):
    sections.append([])

  for index in range(len(sections)):
    temp_input = []
    temp_db = []
    for jenis, daun in enumerate(temp_daun):
      temp_input.append(daun[index])
      temp_db.append(np.average(np.concatenate(([ daun[i] for i in range(num_of_fold) if i != index] ), axis=0), axis=0))
    sections[index].append(temp_input)  # input
    sections[index].append(temp_db) # database

  # for loop diatas digunakan untuk menjadikan array sections seperti yang tertera diatas.

  return sections

## implement

In [ ]:
folds = folding(data_daun, 4)

### compare
untuk membuktikan fungsi folding menghasilkan data yang sama.

In [ ]:
folds[0]

[[array([[ 9.   ,  4.   , 19.   , 23.025],
         [ 8.8  ,  4.2  , 19.3  , 24.175],
         [ 8.5  ,  4.4  , 19.2  , 23.175],
         [ 9.2  ,  4.9  , 19.1  , 24.25 ],
         [ 8.8  ,  4.2  , 19.8  , 23.1  ]]),
  array([[13.6  ,  5.   , 36.7  , 44.425],
         [13.2  ,  4.9  , 31.5  , 44.3  ],
         [12.5  ,  4.   , 23.5  , 42.05 ],
         [14.   ,  5.5  , 37.5  , 45.525],
         [16.   ,  5.2  , 36.5  , 43.45 ]]),
  array([[12.  ,  3.  , 25.  , 21.7 ],
         [10.  ,  3.7 , 23.  , 20.7 ],
         [12.  ,  3.  , 27.  , 22.45],
         [11.  ,  2.5 , 24.  , 21.5 ],
         [10.  ,  4.6 , 22.  , 20.05]]),
  array([[13.1  ,  2.7  , 19.2  , 21.25 ],
         [12.   ,  3.6  , 23.1  , 26.9  ],
         [ 9.   ,  3.3  , 19.6  , 24.8  ],
         [ 8.5  ,  3.8  , 20.1  , 23.425],
         [ 9.5  ,  3.4  , 20.43 , 24.435]])],
 [array([ 8.28666667,  4.36666667, 19.64      , 23.50583333]),
  array([13.55333333,  4.59333333, 29.72      , 42.53833333]),
  array([11.38      ,  3.46666667, 23.91333333, 24.26      ]),
  array([10.56133333,  3.49466667, 23.03333333, 25.33633333])]]

In [ ]:
section1

array([[[ 9.   ,  4.   , 19.   , 23.025],
        [ 8.8  ,  4.2  , 19.3  , 24.175],
        [ 8.5  ,  4.4  , 19.2  , 23.175],
        [ 9.2  ,  4.9  , 19.1  , 24.25 ],
        [ 8.8  ,  4.2  , 19.8  , 23.1  ]],

       [[13.6  ,  5.   , 36.7  , 44.425],
        [13.2  ,  4.9  , 31.5  , 44.3  ],
        [12.5  ,  4.   , 23.5  , 42.05 ],
        [14.   ,  5.5  , 37.5  , 45.525],
        [16.   ,  5.2  , 36.5  , 43.45 ]],

       [[12.   ,  3.   , 25.   , 21.7  ],
        [10.   ,  3.7  , 23.   , 20.7  ],
        [12.   ,  3.   , 27.   , 22.45 ],
        [11.   ,  2.5  , 24.   , 21.5  ],
        [10.   ,  4.6  , 22.   , 20.05 ]],

       [[13.1  ,  2.7  , 19.2  , 21.25 ],
        [12.   ,  3.6  , 23.1  , 26.9  ],
        [ 9.   ,  3.3  , 19.6  , 24.8  ],
        [ 8.5  ,  3.8  , 20.1  , 23.425],
        [ 9.5  ,  3.4  , 20.43 , 24.435]]])

In [ ]:
db_section1

array([[ 8.28666667,  4.36666667, 19.64      , 23.50583333],
       [13.55333333,  4.59333333, 29.72      , 42.53833333],
       [11.38      ,  3.46666667, 23.91333333, 24.26      ],
       [10.56133333,  3.49466667, 23.03333333, 25.33633333]])

## EUCLIDEAN

### label, expected val

In [ ]:
RAW_5 = "A"*5+"B"*5+"C"*5+"D"*5
EXPECTED_VAL_5 = [*RAW_5]

LABEL_DAUN_INPUT_1 = []
for i in range(len(DAUN)):
  for j in range(section1.shape[1]):
    LABEL_DAUN_INPUT_1.append(str(DAUN[i]) + str(j+1))

### fold 1

In [ ]:
# 4 folding section 1

KOLOM = ["Input\DB","A5:A:20","B5:B20","C5:C20","D5:D20","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(np.array(folds[0][0]),np.array(folds[0][1])) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output1 = getMin(data2d) # mengambil output daun
akurasi = accuracy(output1,EXPECTED_VAL_5) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,LABEL_DAUN_INPUT_1[i])
  data2d[i].insert(len(data2d[i]),DAUN[output1[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB    A5:A:20     B5:B20     C5:C20     D5:D20 OUTPUT
0        A1   1.133177  22.732652   5.622714   4.929824      A
1        A2   0.924485  21.645722   5.337064   4.345833      A
2        A3   0.591331  22.609348   5.705983   4.943130      A
3        A4   1.401430  21.593821   5.474954   4.525419      A
4        A5   0.693967  22.338399   5.045720   4.365252      A
5        B1  27.518862   7.242062  24.029265  23.720339      B
6        B2  24.443450   2.547697  21.552864  20.981959      B
7        B3  19.408048   6.355189  17.837987  16.839781      B
8        B4  28.943910   8.394649  25.451848  25.153777      B
9        B5  27.243703   7.290662  23.474010  23.279675      B
10       C1   6.902699  21.481762   2.887321   4.405128      C
11       C2   4.747869  23.140774   3.932763   4.674821      C
12       C3   8.422648  20.393408   3.661392   5.136129      C
13       C4   5.820618  22.050656   2.950247   4.102888      C
14       C5   4.527951  24.040586   4.957196   5.527201      A
15       D1   5.588232  23.825485   5.900999   6.202329      A
16       D2   6.153746  17.081611   2.834306   2.128463      D
17       D3   1.822934  20.963502   4.958692   3.814589      A
18       D4   0.764694  22.000670   4.862535   4.074305      A
19       D5   1.973341  20.781923   3.962711   2.953834      A

### seluruh fold menggunakan for-loop

In [ ]:
# 4 folding seluruh section/fold

output = []

for index, fold in enumerate(folds):
  data = count_all_euclidean(np.array(fold[0]),np.array(fold[1])) # mengambil data euclidean dari input dengan database
  data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
  output.append(getMin(data2d)) # mengambil output daun
  y_true = [DAUN[out] for out in output[index]]
  y_pred = [EXPECTED_VAL_5[i] for i in range(len(EXPECTED_VAL_5))]
  result = confusion_m(y_true, y_pred)
  print('\nFold ke: ', index+1)
  print(result)

Fold ke:  1
   A  B  C  D
A  5  0  0  0
B  0  5  0  0
C  1  0  4  0
D  4  0  0  1

Fold ke:  2
   A  B  C  D
A  5  0  0  0
B  0  5  0  0
C  0  0  3  2
D  2  0  1  2

Fold ke:  3
   A  B  C  D
A  5  0  0  0
B  0  5  0  0
C  0  0  2  3
D  0  0  1  4

Fold ke:  4
   A  B  C  D
A  4  0  0  1
B  0  5  0  0
C  0  0  4  1
D  1  0  2  2

### HASIL EUCLIDEAN 4 FOLD

In [ ]:
result = summary_confusion_m(5, output)
result

accuracy:  76.25
61 / 80

  DAUN  Total
0    A     19
1    B     20
2    C     13
3    D      9

## Similaritas

### seluruh fold

In [ ]:
# 4 folding seluruh section/fold

output = []

for index, fold in enumerate(folds):
  data = count_all_cosinus(np.array(fold[0]),np.array(fold[1])) # mengambil data euclidean dari input dengan database
  data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
  output.append(getMax(data2d)) # mengambil output daun
  y_true = [DAUN[out] for out in output[index]]
  y_pred = [EXPECTED_VAL_5[i] for i in range(len(EXPECTED_VAL_5))]
  result = confusion_m(y_true, y_pred)
  print('\nFold ke: ', index+1)
  print(result)

Fold ke:  1
   A  B  C  D
A  5  0  0  0
B  2  2  0  1
C  0  0  5  0
D  2  0  1  2

Fold ke:  2
   A  B  C  D
A  4  0  0  1
B  1  3  0  1
C  0  0  3  2
D  0  0  1  4

Fold ke:  3
   A  B  C  D
A  3  2  0  0
B  0  5  0  0
C  0  0  2  3
D  0  0  1  4

Fold ke:  4
   A  B  C  D
A  5  0  0  0
B  0  5  0  0
C  0  0  4  1
D  0  0  3  2

### HASIL SIMILARITAS 4 FOLD

In [ ]:
result = summary_confusion_m(5, output)
result

accuracy:  72.5
58 / 80

  DAUN  Total
0    A     17
1    B     15
2    C     14
3    D     12

# 5 FOLD

# inisialisasi ekspektasi

In [ ]:
RAW_4 = "A"*4+"B"*4+"C"*4+"D"*4
EXPECTED_VAL_4 = [*RAW_4]

In [ ]:
folds = folding(data_daun, 5)

## EUCLIDEAN

In [ ]:
# 5 folding

output = []

for index, fold in enumerate(folds):
  data = count_all_euclidean(np.array(fold[0]),np.array(fold[1])) # mengambil data euclidean dari input dengan database
  data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
  output.append(getMin(data2d)) # mengambil output daun
  y_true = [DAUN[out] for out in output[index]]
  y_pred = [EXPECTED_VAL_4[i] for i in range(len(EXPECTED_VAL_4))]
  result = confusion_m(y_true, y_pred)
  print('\nFold ke: ', index+1)
  print(result)

Fold ke:  1
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  0  0  4  0
D  3  0  0  1

Fold ke:  2
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  0  0  3  1
D  1  0  2  1

Fold ke:  3
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  1  0  2  1
D  2  0  1  1

Fold ke:  4
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  0  0  2  2
D  0  0  0  4

Fold ke:  5
   A  B  C  D
A  3  0  0  1
B  0  4  0  0
C  1  0  3  0
D  1  0  2  1

In [ ]:
result = summary_confusion_m(4, output)
result

accuracy:  76.25
61 / 80

  DAUN  Total
0    A     19
1    B     20
2    C     14
3    D      8

## Similaritas

In [ ]:
# 5 folding

output = []

for index, fold in enumerate(folds):
  data = count_all_cosinus(np.array(fold[0]),np.array(fold[1])) # mengambil data euclidean dari input dengan database
  data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
  output.append(getMax(data2d)) # mengambil output daun
  y_true = [DAUN[out] for out in output[index]]
  y_pred = [EXPECTED_VAL_4[i] for i in range(len(EXPECTED_VAL_4))]
  result = confusion_m(y_true, y_pred)
  print('\nFold ke: ', index+1)
  print(result)

Fold ke:  1
   A  B  C  D
A  4  0  0  0
B  2  2  0  0
C  0  0  4  0
D  2  0  1  1

Fold ke:  2
   A  B  C  D
A  4  0  0  0
B  1  1  0  2
C  0  0  3  1
D  0  0  1  3

Fold ke:  3
   A  B  C  D
A  2  1  0  1
B  0  4  0  0
C  0  0  2  2
D  0  0  1  3

Fold ke:  4
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  0  0  2  2
D  0  0  0  4

Fold ke:  5
   A  B  C  D
A  4  0  0  0
B  0  4  0  0
C  0  0  3  1
D  0  0  3  1

In [ ]:
result = summary_confusion_m(4, output)
result

accuracy:  73.75
59 / 80

  DAUN  Total
0    A     18
1    B     15
2    C     14
3    D     12

# COBA 10 FOLD

In [ ]:
RAW_2 = "A"*2+"B"*2+"C"*2+"D"*2
EXPECTED_VAL_2 = [*RAW_2]

In [ ]:
folds = folding(data_daun, 10)

In [ ]:
# 5 folding

output = []

for index, fold in enumerate(folds):
  data = count_all_euclidean(np.array(fold[0]),np.array(fold[1])) # mengambil data euclidean dari input dengan database
  data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
  output.append(getMin(data2d)) # mengambil output daun
  y_true = [DAUN[out] for out in output[index]]
  y_pred = [EXPECTED_VAL_2[i] for i in range(len(EXPECTED_VAL_2))]
  result = confusion_m(y_true, y_pred)
  print('\nFold ke: ', index+1)
  print(result)

Fold ke:  1
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  2  0
D  1  0  0  1

Fold ke:  2
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  2  0
D  2  0  0  0

Fold ke:  3
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  1  0  1  0
D  1  0  1  0

Fold ke:  4
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  1  1
D  0  0  1  1

Fold ke:  5
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  1  1
D  2  0  0  0

Fold ke:  6
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  1  0  1  0
D  0  0  1  1

Fold ke:  7
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  1  1
D  0  0  0  2

Fold ke:  8
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  1  1
D  0  0  0  2

Fold ke:  9
   A  B  C  D
A  2  0  0  0
B  0  2  0  0
C  0  0  1  1
D  0  0  2  0

Fold ke:  10
   A  B  C  D
A  1  0  0  1
B  0  2  0  0
C  0  0  2  0
D  1  0  1  0

In [ ]:
result = summary_confusion_m(2, output)
result

accuracy:  73.75
59 / 80

  DAUN  Total
0    A     19
1    B     20
2    C     13
3    D      7