# Pengenalan Pola - Template Matching Multiple Input

#### Anggota Kelompok
1. BAPTISTA BRAHMANTIA NANDA JEHARU 	- 205314144
2. KURNIAWAN RONALDI PURNAMA 		- 205314148
3. PAULUS CAESARIO DITO PUTRA HARTONO - 205314159
4. STEVEN 						- 205314172

## Mengambil file dari google drive menggunakan id-file
contoh 
ID dari url `https://drive.google.com/file/d/1_qMSpHNPCHYcQNzdZ6-EefsunpX-KEey/view?usp=sharing`

maka id dari url tersebut
```
https://drive.google.com/file/d/

1_qMSpHNPCHYcQNzdZ6-EefsunpX-KEey <-- ID File

/view?usp=sharing
```

In [ ]:
!gdown --id '1reRYfySXuRytE24CCgsINpGdC4X4NnPl' -O data_daun_a.csv
!gdown --id '1uYgW4LLLrS3NmMmfBlUFa6Nifk_CPD17' -O data_daun_b.csv
!gdown --id '1klhM0w98dpdIO-vUjn0S8WsLznmLU5FD' -O data_daun_c.csv
!gdown --id '1FnKNeqJ7sYLEM608NxiyRTilG_eL2N4i' -O data_daun_d.csv

In [ ]:
# Pola 1 - Template matching
import numpy as np
import pandas as pd
import math

## File CSV sebagai Inputan

In [ ]:
DAUN_A = pd.read_csv('data_daun_a.csv').to_numpy() # Konversi DataFrame ke Numpy Array
DAUN_B = pd.read_csv('data_daun_b.csv').to_numpy()
DAUN_C = pd.read_csv('data_daun_c.csv').to_numpy()
DAUN_D = pd.read_csv('data_daun_d.csv').to_numpy()

## Input Data

In [ ]:
# Data ekstraksi ciri
KOLOM = ["panjang","lebar","keliling","luas"]
# INPUT
RAW = "A"*5+"B"*5+"C"*5+"D"*5 # Membuat Ekspetasi Hasil yang semestinya
RAW_2 = "A"*10+"B"*10+"C"*10+"D"*10
EXPECTED_VAL = [*RAW] # Mengubah nilai string ke bentuk array untuk setiap karakter
EXPECTED_VAL_2 = [*RAW_2]

INPUT_1 = np.array(
    [
      DAUN_A[10:15], # Mengambil Data A11 sampai A15
      DAUN_B[10:15], 
      DAUN_C[10:15],
      DAUN_D[10:15]
    ]
)

INPUT_2 = np.array(
    [
      DAUN_A[10:20], # Mengambil Data A11 sampai A20
      DAUN_B[10:20],
      DAUN_C[10:20],
      DAUN_D[10:20]
    ]
)

# Database
DB = np.array(
    [
      DAUN_A[0], # Mengambil Data A1
      DAUN_B[0],
      DAUN_C[0],
      DAUN_D[0]
    ]
)

# Database Rerata 1:5
DBR = np.array(
    [
        np.average(DAUN_A[0:5],axis=0), # Rata - Rata Daun A1:A5
        np.average(DAUN_B[0:5],axis=0), # axis = 0 : kebawah
        np.average(DAUN_C[0:5],axis=0),
        np.average(DAUN_D[0:5],axis=0)
    ]
)

# Database Rerata 1:10
DBR2 = np.array(
    [
        np.average(DAUN_A[0:10],axis=0), # Rata - Rata Daun A1:A10
        np.average(DAUN_B[0:10],axis=0),
        np.average(DAUN_C[0:10],axis=0),
        np.average(DAUN_D[0:10],axis=0)
    ]
)

# INPUT 1 (11:15)

## DAUN A

In [ ]:
df = pd.DataFrame(INPUT_1[0][:],columns=KOLOM)
df

   panjang  lebar  keliling   luas
0      8.5    4.0      19.0  25.40
1      8.9    4.4      19.7  25.95
2      8.0    4.6      20.7  24.30
3      8.2    4.0      18.2  23.60
4      8.3    4.7      19.2  23.75

## DAUN B

In [ ]:
df = pd.DataFrame(INPUT_1[1][:],columns=KOLOM)
df

   panjang  lebar  keliling   luas
0     14.3    4.6      30.0  43.95
1     11.2    4.5      20.7  46.15
2     13.5    4.8      32.0  43.50
3     12.7    4.0      28.3  42.00
4     15.5    4.7      33.0  44.95

## DAUN C

In [ ]:
df = pd.DataFrame(INPUT_1[2][:],columns=KOLOM)
df

   panjang  lebar  keliling    luas
0      9.5    3.3      21.0  23.225
1     12.0    4.0      24.8  25.500
2      9.9    3.3      22.1  24.025
3     12.1    3.5      27.2  27.100
4     12.0    3.7      25.5  28.900

## DAUN D

In [ ]:
df = pd.DataFrame(INPUT_1[3][:],columns=KOLOM)
df

   panjang  lebar  keliling    luas
0    11.72    3.2      22.8  23.500
1    10.30    3.7      24.2  28.125
2    10.70    3.4      22.8  26.450
3    11.40    3.8      23.6  28.400
4    10.80    3.4      24.2  27.650

# INPUT 2 (11:20)

## DAUN A

In [ ]:
df = pd.DataFrame(INPUT_2[0][:],columns=KOLOM)
df

   panjang  lebar  keliling   luas
0      8.5    4.0      19.0  25.40
1      8.9    4.4      19.7  25.95
2      8.0    4.6      20.7  24.30
3      8.2    4.0      18.2  23.60
4      8.3    4.7      19.2  23.75
5      8.5    4.2      19.8  23.15
6      8.3    4.2      20.2  23.60
7      8.5    4.2      19.6  23.65
8      8.6    4.5      22.1  24.65
9      8.7    4.8      19.8  23.55

## DAUN B

In [ ]:
df = pd.DataFrame(INPUT_2[1][:],columns=KOLOM)
df

   panjang  lebar  keliling    luas
0     14.3    4.6      30.0  43.950
1     11.2    4.5      20.7  46.150
2     13.5    4.8      32.0  43.500
3     12.7    4.0      28.3  42.000
4     15.5    4.7      33.0  44.950
5     10.2    4.6      27.3  40.880
6     10.5    4.7      26.7  43.125
7     15.0    4.5      29.0  42.100
8     13.7    4.2      29.6  39.400
9     15.0    4.8      33.7  44.350

## DAUN C

In [ ]:
df = pd.DataFrame(INPUT_2[2][:],columns=KOLOM)
df

   panjang  lebar  keliling    luas
0      9.5    3.3      21.0  23.225
1     12.0    4.0      24.8  25.500
2      9.9    3.3      22.1  24.025
3     12.1    3.5      27.2  27.100
4     12.0    3.7      25.5  28.900
5     11.0    4.4      26.2  23.250
6     10.0    3.1      21.0  22.900
7     12.8    3.4      24.0  21.700
8     12.0    3.7      22.5  20.250
9     12.8    3.9      25.0  24.550

## DAUN D

In [ ]:
df = pd.DataFrame(INPUT_2[3][:],columns=KOLOM)
df

   panjang  lebar  keliling    luas
0    11.72   3.20      22.8  23.500
1    10.30   3.70      24.2  28.125
2    10.70   3.40      22.8  26.450
3    11.40   3.80      23.6  28.400
4    10.80   3.40      24.2  27.650
5    11.50   3.67      23.5  26.050
6    11.60   3.90      25.7  28.550
7     9.30   3.40      23.6  23.025
8    10.20   3.40      22.5  22.950
9     9.00   3.20      21.3  21.630

# Database Single Input

In [ ]:
df_dbs = pd.DataFrame(DB,columns=KOLOM)
df_dbs

   panjang  lebar  keliling    luas
0      9.0    4.0      19.0  23.025
1     13.6    5.0      36.7  44.425
2     12.0    3.0      25.0  21.700
3     13.1    2.7      19.2  21.250

# Database Rerata 1:5

In [ ]:
df_dbr = pd.DataFrame(DBR,columns=KOLOM)
df_dbr

   panjang  lebar  keliling    luas
0     8.86   4.34    19.280  23.545
1    13.86   4.92    33.140  43.950
2    11.00   3.36    24.200  21.280
3    10.42   3.36    20.486  24.162

# Database Rerata 1:10

In [ ]:
df_dbr2 = pd.DataFrame(DBR2,columns=KOLOM)
df_dbr2

   panjang  lebar  keliling      luas
0     8.41  4.360    19.270  22.87125
1    14.10  4.810    32.120  42.74200
2    11.16  3.250    24.040  22.89000
3    10.40  3.415    21.373  24.45250

# Pendefinisian Function

In [ ]:
# Konversi array 3D ke 2D
def arr3dto2d(arr):
  out = []
  for y in arr:
    for x in y:
      out.append(x)
  return out


# mendapatkan nilai terendah
def getMin(arr):
  out = []
  for x in arr:
      out.append(np.argsort(x)[0])
  
  return out

# mendapatkan nilai tertinggi
def getMax(arr):
  out = []
  for x in arr:
      out.append(np.argsort(x)[3])
  
  return out

# Menghitung Akurasi
def accuracy(arr,data):
  error = 0
  value = ["A","B","C","D"] 
  for i in range(len(arr)):
   if value[arr[i]] != data[i]:
    error += 1

  return ((len(arr)-error)/len(arr))*100

In [ ]:
DAUN = ["A","B","C","D"] # Untuk Menyimpan jenis Daun yang digunakan
DAUN_INPUT = ["A11","A12","A13","A14","A15", 
              "B11","B12","B13","B14","B15",
              "C11","C12","C13","C14","C15",
              "D11","D12","D13","D14","D15"] # Nama Data Daun yang digunakan sebagai input
DAUN_INPUT_2 = ["A11","A12","A13","A14","A15", "A16","A17","A18","A19","A20",
                "B11","B12","B13","B14","B15", "B16","B17","B18","B19","B20",
                "C11","C12","C13","C14","C15", "C16","C17","C18","C19","C20",
                "D11","D12","D13","D14","D15", "D16","D17","D18","D19","D20",]

# EUCLIDEAN Dengan Input 5 Data

In [ ]:
# Perhitungan Euclidean
def euclidean(x1,x2):
  sum = 0
  for i in range(x1.shape[0]): 
    sum += math.pow(x1[i] - x2[i],2)
  return math.sqrt(sum)

# Menghitung seluruh Euclidean Daun A,B,C,D
def count_all_euclidean(input,db):
  out = [] # array kosong
  for i in range(input.shape[0]):
    out.append([]) # menambahkan panjang array dimensi pertama
    for j in range(input.shape[1]):
      out[i].append([])  # menambahkan panjang array dimensi kedua
      for k in range(input.shape[2]):
        out[i][j].append([]) # menambahkan panjang array dimensi ketiga
        out[i][j][k] = euclidean(input[i][j],db[k]) # mengisi nilai aray ketiga dengan nilai dari fungsi euclidean

  return out

## Menghitung nilai EUCLIDEAN data [A1,B1,C1,D1] dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1","B1","C1","D1","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_1,DB) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 65

   Input\DB         A1         B1         C1         D1 OUTPUT
0       A11   2.427061  26.500012   7.933473   6.333443      A
1       A12   3.035725  25.549474   7.597532   6.547519      A
2       A13   2.423969  26.316072   6.618912   6.416580      A
3       A14   1.269104  28.391735   8.080223   5.676487      A
4       A15   1.243232  27.602276   7.377161   5.769749      A
5       B11  24.234389   6.765030  22.976347  25.238463      B
6       B12  23.296902  16.278379  24.883378  25.082065      B
7       B13  24.680268   4.795375  23.015864  25.757960      B
8       B14  21.452986   8.845938  20.602670  22.698513      B
9       B15  26.822484   4.203049  24.893825  27.602355      B
10      C11   2.186321  26.751262   4.966450   4.523342      A
11      C12   6.983239  22.434920   3.934463   7.233429      C
12      C13   3.451087  25.414563   4.279676   5.168232      A
13      C14   9.680167  19.872233   5.853204   9.993123      C
14      C15   9.265831  19.253977   7.251207  10.021103      C
15      D11   4.764874  25.255495   2.863285   4.491870      C
16      D12   7.404728  20.845143   6.730574   9.005866      C
17      D13   5.424078  22.962592   5.408558   6.800735      C
18      D14   7.473328  20.849236   6.917369   8.636116      C
19      D15   7.213226  21.167206   6.135348   8.469947      C

## Menghitung nilai EUCLIDEAN data rerata([A1:A5,B1:B5,C1:C5,D1:D5])dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1:A5","B1:B5","C1:C5","D1:D5","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_1,DBR) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 80

   Input\DB      A1:A5      B1:B5      C1:C5      D1:D5 OUTPUT
0       A11   1.940264  23.950326   7.118567   2.799436      A
1       A12   2.442463  23.010989   6.895687   2.684537      A
2       A13   1.842179  23.985790   5.648717   2.731088      A
3       A14   1.311726  25.888378   7.044998   3.298430      A
4       A15   0.701160  25.165961   6.339282   2.848428      A
5       B11  23.684248   3.186785  23.664245  22.330991      B
6       B12  22.770675  12.916873  25.141728  22.032384      B
7       B13  24.119321   1.283004  23.725345  22.761600      B
8       B14  20.899967   5.424030  21.199717  19.617870      B
9       B15  26.279871   1.938453  25.685687  24.826259      B
10      C11   2.133542  24.465061   4.034430   1.411441      D
11      C12   6.653392  20.353479   4.424703   4.827716      C
12      C13   3.216520  23.177429   3.627482   1.702282      D
13      C14   9.304172  18.008889   6.640934   7.520082      C
14      C15   8.810995  17.024104   7.801923   7.085255      D
15      D11   4.676711  23.079344   2.726243   2.740153      C
16      D12   6.904057  18.561148   6.889095   5.443268      D
17      D13   5.009853  20.626721   5.364746   3.266426      D
18      D14   6.998330  18.442345   7.169937   5.367648      D
19      D15   6.760520  18.902053   6.373264   5.109397      D

## Menghitung nilai EUCLIDEAN data rerata([A1:A10,B1:B10,C1:C10,D1:D10])dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_1,DBR2) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 80

   Input\DB     A1:A10     B1:B10     C1:C10     D1:D10 OUTPUT
0       A11   2.570054  22.469879   6.272145   3.237454      A
1       A12   3.147269  21.527558   5.884667   2.874310      D
2       A13   2.076518  22.533927   4.995178   2.764129      A
3       A14   1.360028  24.405915   6.628258   3.997113      A
4       A15   0.951211  23.691234   5.869182   3.358074      A
5       B11  24.376142   2.457186  22.152366  21.706954      B
6       B12  23.489334  12.269351  23.531836  21.749751      B
7       B13  24.772968   0.974199  22.271322  22.074162      B
8       B14  21.586655   4.214150  19.653849  19.013950      B
9       B15  26.951212   2.760754  24.245892  24.145307      B
10      C11   2.330180  22.978420   3.480219   1.571340      D
11      C12   7.106963  18.866241   2.942414   3.967847      C
12      C13   3.561424  21.694391   2.577193   0.987173      D
13      C14   9.753098  16.570898   5.353111   6.622719      C
14      C15   9.406510  15.526347   6.257779   6.281211      C
15      D11   5.015768  21.572516   1.491912   2.175364      C
16      D12   7.477599  17.089622   5.326624   4.644396      D
17      D13   5.606608  19.126938   3.800697   2.473168      D
18      D14   7.653083  16.929072   5.560018   4.657307      D
19      D15   7.333147  17.417605   4.778630   4.286742      D

# EUCLIDEAN Dengan Input 10 Data

## Menghitung nilai EUCLIDEAN data [A1,B1,C1,D1] dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1","B1","C1","D1","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_2,DB) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 67

   Input\DB         A1         B1         C1         D1 OUTPUT
0       A11   2.427061  26.500012   7.933473   6.333443      A
1       A12   3.035725  25.549474   7.597532   6.547519      A
2       A13   2.423969  26.316072   6.618912   6.416580      A
3       A14   1.269104  28.391735   8.080223   5.676487      A
4       A15   1.243232  27.602276   7.377161   5.769749      A
5       A16   0.972433  27.656566   6.544654   5.232590      A
6       A17   1.516781  27.104624   6.463745   5.640257      A
7       A18   1.020110  27.398187   6.830264   5.415718      A
8       A19   3.558177  25.089054   5.560800   6.592420      A
9       A20   1.282819  27.302484   6.677762   5.424021      A
10      B11  24.234389   6.765030  22.976347  25.238463      B
11      B12  23.296902  16.278379  24.883378  25.082065      B
12      B13  24.680268   4.795375  23.015864  25.757960      B
13      B14  21.452986   8.845938  20.602670  22.698513      B
14      B15  26.822484   4.203049  24.893825  27.602355      B
15      B16  19.735527  10.613530  19.466957  21.516666      B
16      B17  21.587960  10.554146  21.611585  23.356490      B
17      B18  22.363041   8.179586  21.057303  23.186472      B
18      B19  20.065658   8.735595  18.405977  20.980765      B
19      B20  26.598602   3.317473  24.514333  27.420430      B
20      C11   2.186321  26.751262   4.966450   4.523342      A
21      C12   6.983239  22.434920   3.934463   7.233429      C
22      C13   3.451087  25.414563   4.279676   5.168232      A
23      C14   9.680167  19.872233   5.853204   9.993123      C
24      C15   9.265831  19.253977   7.251207  10.021103      C
25      C16   7.486697  23.785513   2.608160   7.765307      C
26      C17   2.413633  26.951542   4.631414   3.966422      A
27      C18   6.446365  26.094360   1.341641   4.880830      C
28      C19   5.388935  28.112642   2.973634   3.754997      C
29      C20   7.264683  23.103152   3.093946   6.786752      C
30      D11   4.764874  25.255495   2.863285   4.491870      C
31      D12   7.404728  20.845143   6.730574   9.005866      C
32      D13   5.424078  22.962592   5.408558   6.800735      C
33      D14   7.473328  20.849236   6.917369   8.636116      C
34      D15   7.213226  21.167206   6.135348   8.469947      C
35      D16   5.979927  22.760921   4.676687   6.710507      C
36      D17   9.065629  19.448024   6.955753   9.961426      C
37      D18   4.648656  25.507254   3.341500   6.118874      C
38      D19   3.749083  26.017987   3.348507   4.762352      C
39      D20   2.806426  27.949455   4.768113   4.649129      A

## Menghitung nilai EUCLIDEAN data rerata([A1:A5,B1:B5,C1:C5,D1:D5])dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1:A5","B1:B5","C1:C5","D1:D5","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_2,DBR) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 80

   Input\DB      A1:A5      B1:B5      C1:C5      D1:D5 OUTPUT
0       A11   1.940264  23.950326   7.118567   2.799436      A
1       A12   2.442463  23.010989   6.895687   2.684537      A
2       A13   1.842179  23.985790   5.648717   2.731088      A
3       A14   1.311726  25.888378   7.044998   3.298430      A
4       A15   0.701160  25.165961   6.339282   2.848428      A
5       A16   0.758700  25.295130   5.460082   2.426260      A
6       A17   1.087486  24.758798   5.420148   2.365933      A
7       A18   0.512470  24.993391   5.807969   2.332196      A
8       A19   3.044113  22.852037   4.777709   2.730410      D
9       A20   0.712478  24.914967   5.645928   2.424281      A
10      B11  23.684248   3.186785  23.664245  22.330991      B
11      B12  22.770675  12.916873  25.141728  22.032384      B
12      B13  24.119321   1.283004  23.725345  22.761600      B
13      B14  20.899967   5.424030  21.199717  19.617870      B
14      B15  26.279871   1.938453  25.685687  24.826259      B
15      B16  19.149042   7.551722  19.898432  18.097185      B
16      B17  21.005999   7.313838  22.034056  20.000279      B
17      B18  21.828688   4.694475  21.767223  20.409215      B
18      B19  19.527637   5.811893  19.117793  18.075554      B
19      B20  26.051787   1.337012  25.309060  24.601121      B
20      C11   2.133542  24.465061   4.034430   1.411441      D
21      C12   6.653392  20.353479   4.424703   4.827716      C
22      C13   3.216520  23.177429   3.627482   1.702282      D
23      C14   9.304172  18.008889   6.640934   7.520082      C
24      C15   8.810995  17.024104   7.801923   7.085255      D
25      C16   7.249595  22.025068   2.993743   5.907583      C
26      C17   2.492313  24.671727   3.732559   1.449427      D
27      C18   6.487652  24.125424   1.859570   4.906693      C
28      C19   5.612007  26.073887   2.250889   4.687424      C
29      C20   7.031758  21.089893   3.855451   5.146138      C
30      D11   4.676711  23.079344   2.726243   2.740153      C
31      D12   6.904057  18.561148   6.889095   5.443268      D
32      D13   5.009853  20.626721   5.364746   3.266426      D
33      D14   6.998330  18.442345   7.169937   5.367648      D
34      D15   6.760520  18.902053   6.373264   5.109397      D
35      D16   5.612658  20.505407   4.856851   3.729777      D
36      D17   8.600443  17.281829   7.466894   6.937171      D
37      D18   4.473254  23.494068   2.509308   3.499395      C
38      D19   3.660823  23.872905   2.514060   2.361173      D
39      D20   3.011117  25.786547   3.543741   3.019209      A

## Menghitung nilai EUCLIDEAN data rerata([A1:A10,B1:B10,C1:C10,D1:D10])dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_euclidean(INPUT_2,DBR2) # mengambil data euclidean dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMin(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB     A1:A10     B1:B10     C1:C10     D1:D10 OUTPUT
0       A11   2.570054  22.469879   6.272145   3.237454      A
1       A12   3.147269  21.527558   5.884667   2.874310      D
2       A13   2.076518  22.533927   4.995178   2.764129      A
3       A14   1.360028  24.405915   6.628258   3.997113      A
4       A15   0.951211  23.691234   5.869182   3.358074      A
5       A16   0.626340  23.819340   5.101304   2.897768      A
6       A17   1.197362  23.291944   4.932727   2.670002      A
7       A18   0.865478  23.515675   5.316888   2.830859      A
8       A19   3.350903  21.402499   3.870052   2.232658      D
9       A20   1.009605  23.436624   5.183368   2.845533      A
10      B11  24.376142   2.457186  22.152366  21.706954      B
11      B12  23.489334  12.269351  23.531836  21.749751      B
12      B13  24.772968   0.974199  22.271322  22.074162      B
13      B14  21.586655   4.214150  19.653849  19.013950      B
14      B15  26.951212   2.760754  24.245892  24.145307      B
15      B16  19.800446   6.477156  18.357881  17.505322      B
16      B17  21.677246   6.518833  20.471173  19.460226      B
17      B18  22.535870   3.324555  20.246822  19.797541      B
18      B19  20.196984   4.248701  17.630876  17.395905      B
19      B20  26.705492   2.427378  23.895508  23.894427      B
20      C11   2.330180  22.978420   3.480219   1.571340      D
21      C12   7.106963  18.866241   2.942414   3.967847      C
22      C13   3.561424  21.694391   2.577193   0.987173      D
23      C14   9.753098  16.570898   5.353111   6.622719      C
24      C15   9.406510  15.526347   6.257779   6.281211      C
25      C16   7.407972  20.609769   2.478568   5.106482      C
26      C17   2.666351  23.175277   3.257269   1.675891      D
27      C18   6.628607  22.635774   2.032191   4.498623      C
28      C19   5.534216  24.577969   3.201453   4.644605      C
29      C20   7.425281  19.600035   2.605629   4.377198      C
30      D11   5.015768  21.572516   1.491912   2.175364      C
31      D12   7.477599  17.089622   5.326624   4.644396      D
32      D13   5.606608  19.126938   3.800697   2.473168      D
33      D14   7.653083  16.929072   5.560018   4.657307      D
34      D15   7.333147  17.417605   4.778630   4.286742      D
35      D16   6.166162  18.999654   3.251031   2.889837      D
36      D17   9.164104  15.802132   5.950403   6.098169      C
37      D18   4.526173  22.053993   1.921959   2.864875      C
38      D19   3.816386  22.393431   1.821895   1.888878      C
39      D20   2.712066  24.318533   3.709892   3.158807      A

# Cosinus Simlikiti

In [ ]:
# menghitung cosinus antar data daun
def cosinus(x1,x2):
  # jumlah seluruh dari x1*x2
  total_atas = sum(x1*x2) 
  # np.square untuk mengkalikan dirinya (x*x) x untuk masing masing element dari array
  total_bawah = math.sqrt(sum(np.square(x1))) * math.sqrt(sum(np.square(x2))) 
  return total_atas / total_bawah

# menghitung seluruh cosinus antar input dalam bentuk array 3d dan data daun dalam bentuk array 2d
def count_all_cosinus(input,db):
  out = []
  for i in range(input.shape[0]):
    out.append([])
    for j in range(input.shape[1]):
      out[i].append([])
      for k in range(input.shape[2]):
        out[i][j].append([])
        out[i][j][k] = cosinus(input[i][j],db[k])

  return out

## Menghitung nilai COSINUS data [A1,B1,C1,D1] dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1","B1","C1","D1","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_1,DB) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 60

   Input\DB        A1        B1        C1        D1 OUTPUT
0       A11  0.998472  0.997790  0.975262  0.981858      A
1       A12  0.998914  0.997588  0.976703  0.982880      A
2       A13  0.998728  0.998308  0.983244  0.981649      A
3       A14  0.999214  0.997825  0.978262  0.983745      A
4       A15  0.999388  0.997397  0.980881  0.983615      A
5       B11  0.994787  0.995624  0.966787  0.978241      B
6       B12  0.963349  0.966021  0.907052  0.935114      B
7       B13  0.996583  0.998431  0.972599  0.978816      B
8       B14  0.993280  0.995416  0.963639  0.974517      B
9       B15  0.997221  0.997704  0.974869  0.983161      B
10      C11  0.998708  0.996992  0.991977  0.990944      A
11      C12  0.996273  0.992426  0.996381  0.993896      C
12      C13  0.998206  0.996669  0.992910  0.990943      A
13      C14  0.994818  0.993004  0.997003  0.991227      C
14      C15  0.998812  0.997052  0.991072  0.991911      A
15      D11  0.995204  0.990865  0.996749  0.995840      C
16      D12  0.999061  0.998991  0.987522  0.987304      A
17      D13  0.999176  0.997629  0.989411  0.991150      A
18      D14  0.999536  0.997632  0.987010  0.990873      A
19      D15  0.998831  0.998162  0.989707  0.989739      A

## Menghitung nilai COSINUS data rerata([A1:A5,B1:B5,C1:C5,D1:D5])dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1:A5","B1:B5","C1:C5","D1:D5","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_1,DBR) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB     A1:A5     B1:B5     C1:C5     D1:D5 OUTPUT
0       A11  0.998784  0.999276  0.978185  0.996551      B
1       A12  0.999226  0.998870  0.979610  0.996973      A
2       A13  0.999124  0.996984  0.986397  0.996688      A
3       A14  0.999477  0.998819  0.981088  0.997432      A
4       A15  0.999760  0.997444  0.983900  0.997296      A
5       B11  0.994916  0.998838  0.969396  0.993397      B
6       B12  0.964491  0.976020  0.911240  0.958752      B
7       B13  0.996784  0.999933  0.975418  0.995095      B
8       B14  0.993531  0.998630  0.966505  0.991580      B
9       B15  0.997136  0.999612  0.977130  0.996511      B
10      C11  0.998218  0.995119  0.993553  0.999276      D
11      C12  0.995419  0.989592  0.997263  0.997883      D
12      C13  0.997653  0.994438  0.994391  0.998987      D
13      C14  0.993928  0.989165  0.997920  0.996663      C
14      C15  0.998219  0.995764  0.992453  0.999658      D
15      D11  0.994062  0.988339  0.997100  0.997639      D
16      D12  0.998840  0.997745  0.989611  0.998871      D
17      D13  0.998678  0.996745  0.990954  0.999734      D
18      D14  0.999124  0.997527  0.988671  0.999786      D
19      D15  0.998377  0.996785  0.991373  0.999313      D

## Menghitung nilai COSINUS data rerata([A1:A10,B1:B10,C1:C10,D1:D10])dengan [A11:A15,B11:B15,C11:C15,D11:D15]

In [ ]:
KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_1,DBR2) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 70

   Input\DB    A1:A10    B1:B10    C1:C10    D1:D10 OUTPUT
0       A11  0.998227  0.999397  0.984970  0.996002      B
1       A12  0.998747  0.999036  0.986061  0.996480      B
2       A13  0.999586  0.996840  0.990939  0.997123      A
3       A14  0.999075  0.998994  0.987269  0.997031      A
4       A15  0.999743  0.997557  0.989175  0.997222      A
5       B11  0.993664  0.999023  0.977928  0.992263      B
6       B12  0.961317  0.976046  0.926041  0.955458      B
7       B13  0.996154  0.999869  0.982819  0.994581      B
8       B14  0.992325  0.998637  0.975403  0.990490      B
9       B15  0.996245  0.999838  0.984429  0.995791      B
10      C11  0.998481  0.995469  0.997019  0.999756      D
11      C12  0.995870  0.990242  0.999251  0.998599      C
12      C13  0.998012  0.994775  0.997581  0.999585      D
13      C14  0.994699  0.989569  0.999573  0.997765      C
14      C15  0.998232  0.996207  0.996361  0.999923      D
15      D11  0.994279  0.989191  0.999119  0.998201      C
16      D12  0.998993  0.997860  0.994108  0.999206      D
17      D13  0.998591  0.997153  0.995285  0.999876      D
18      D14  0.998806  0.997984  0.993590  0.999664      D
19      D15  0.998476  0.997055  0.995532  0.999650      D

# COSINUS Dengan Input 10 Data

## Menghitung nilai COSINUS data [A1,B1,C1,D1] dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1","B1","C1","D1","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_2,DB) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 62

   Input\DB        A1        B1        C1        D1 OUTPUT
0       A11  0.998472  0.997790  0.975262  0.981858      A
1       A12  0.998914  0.997588  0.976703  0.982880      A
2       A13  0.998728  0.998308  0.983244  0.981649      A
3       A14  0.999214  0.997825  0.978262  0.983745      A
4       A15  0.999388  0.997397  0.980881  0.983615      A
5       A16  0.999638  0.997920  0.986240  0.986468      A
6       A17  0.999355  0.998393  0.985472  0.984808      A
7       A18  0.999735  0.998184  0.983956  0.985709      A
8       A19  0.998494  0.997908  0.987608  0.983906      A
9       A20  0.999587  0.996924  0.984444  0.985863      A
10      B11  0.994787  0.995624  0.966787  0.978241      B
11      B12  0.963349  0.966021  0.907052  0.935114      B
12      B13  0.996583  0.998431  0.972599  0.978816      B
13      B14  0.993280  0.995416  0.963639  0.974517      B
14      B15  0.997221  0.997704  0.974869  0.983161      B
15      B16  0.990772  0.994725  0.957427  0.965709      B
16      B17  0.986935  0.990856  0.948538  0.960666      B
17      B18  0.995622  0.995044  0.969614  0.982294      A
18      B19  0.997778  0.998236  0.977015  0.984092      B
19      B20  0.997833  0.998742  0.977350  0.983210      B
20      C11  0.998708  0.996992  0.991977  0.990944      A
21      C12  0.996273  0.992426  0.996381  0.993896      C
22      C13  0.998206  0.996669  0.992910  0.990943      A
23      C14  0.994818  0.993004  0.997003  0.991227      C
24      C15  0.998812  0.997052  0.991072  0.991911      A
25      C16  0.989106  0.985841  0.998424  0.986537      C
26      C17  0.998061  0.995577  0.993555  0.993080      A
27      C18  0.986752  0.980068  0.999329  0.994307      C
28      C19  0.986773  0.979370  0.999029  0.993847      C
29      C20  0.993254  0.987957  0.998161  0.995246      C
30      D11  0.995204  0.990865  0.996749  0.995840      C
31      D12  0.999061  0.998991  0.987522  0.987304      A
32      D13  0.999176  0.997629  0.989411  0.991150      A
33      D14  0.999536  0.997632  0.987010  0.990873      A
34      D15  0.998831  0.998162  0.989707  0.989739      A
35      D16  0.998439  0.995444  0.992844  0.993668      A
36      D17  0.998692  0.997213  0.991711  0.990813      A
37      D18  0.994150  0.993631  0.995754  0.986444      C
38      D19  0.996233  0.993718  0.996196  0.991844      A
39      D20  0.996139  0.994767  0.995386  0.989280      A

## Menghitung nilai COSINUS data rerata([A1:A5,B1:B5,C1:C5,D1:D5])dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1:A5","B1:B5","C1:C5","D1:D5","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_2,DBR) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 82

   Input\DB     A1:A5     B1:B5     C1:C5     D1:D5 OUTPUT
0       A11  0.998784  0.999276  0.978185  0.996551      B
1       A12  0.999226  0.998870  0.979610  0.996973      A
2       A13  0.999124  0.996984  0.986397  0.996688      A
3       A14  0.999477  0.998819  0.981088  0.997432      A
4       A15  0.999760  0.997444  0.983900  0.997296      A
5       A16  0.999722  0.996900  0.988795  0.998463      A
6       A17  0.999522  0.997185  0.988204  0.997970      A
7       A18  0.999884  0.997765  0.986615  0.998347      A
8       A19  0.998654  0.995656  0.990366  0.997195      A
9       A20  0.999811  0.996341  0.987198  0.997935      A
10      B11  0.994916  0.998838  0.969396  0.993397      B
11      B12  0.964491  0.976020  0.911240  0.958752      B
12      B13  0.996784  0.999933  0.975418  0.995095      B
13      B14  0.993531  0.998630  0.966505  0.991580      B
14      B15  0.997136  0.999612  0.977130  0.996511      B
15      B16  0.991554  0.997564  0.961288  0.987588      B
16      B17  0.987827  0.995135  0.952543  0.983360      B
17      B18  0.995529  0.998403  0.971781  0.994830      B
18      B19  0.997662  0.999691  0.979236  0.997175      B
19      B20  0.997785  0.999854  0.979714  0.997064      B
20      C11  0.998218  0.995119  0.993553  0.999276      D
21      C12  0.995419  0.989592  0.997263  0.997883      D
22      C13  0.997653  0.994438  0.994391  0.998987      D
23      C14  0.993928  0.989165  0.997920  0.996663      C
24      C15  0.998219  0.995764  0.992453  0.999658      D
25      C16  0.988297  0.979777  0.999472  0.990754      C
26      C17  0.997341  0.993670  0.994701  0.999286      D
27      C18  0.985128  0.975545  0.998786  0.990618      C
28      C19  0.985271  0.974814  0.998671  0.990250      C
29      C20  0.992073  0.984613  0.998426  0.995800      C
30      D11  0.994062  0.988339  0.997100  0.997639      D
31      D12  0.998840  0.997745  0.989611  0.998871      D
32      D13  0.998678  0.996745  0.990954  0.999734      D
33      D14  0.999124  0.997527  0.988671  0.999786      D
34      D15  0.998377  0.996785  0.991373  0.999313      D
35      D16  0.997735  0.993960  0.993989  0.999577      D
36      D17  0.998192  0.995401  0.993275  0.999300      D
37      D18  0.993608  0.988908  0.997346  0.995052      C
38      D19  0.995483  0.990418  0.997321  0.997607      D
39      D20  0.995561  0.991071  0.996861  0.997069      D

## Menghitung nilai COSINUS data rerata([A1:A10,B1:B10,C1:C10,D1:D10])dengan [A11:A20,B11:B20,C11:C20,D11:D20]

In [ ]:
KOLOM = ["Input\DB","A1:A10","B1:B10","C1:C10","D1:D10","OUTPUT"] # Sebagai Nama Kolom untuk Data Frame
data = count_all_cosinus(INPUT_2,DBR2) # mengambil data cosinus dari input dengan database
data2d = arr3dto2d(data) # mengubah `data` menjadi array 2 dimensi
output = getMax(data2d) # mengambil output daun
akurasi = accuracy(output,EXPECTED_VAL_2) # menghitung akurasi ketepatan template matching

for i in range(len(data2d)):
  data2d[i].insert(0,DAUN_INPUT_2[i])
  data2d[i].insert(len(data2d[i]),DAUN[output[i]])

print("Akurasi : %d"%akurasi)
df = pd.DataFrame(data2d,columns=KOLOM)
df

Akurasi : 75

   Input\DB    A1:A10    B1:B10    C1:C10    D1:D10 OUTPUT
0       A11  0.998227  0.999397  0.984970  0.996002      B
1       A12  0.998747  0.999036  0.986061  0.996480      B
2       A13  0.999586  0.996840  0.990939  0.997123      A
3       A14  0.999075  0.998994  0.987269  0.997031      A
4       A15  0.999743  0.997557  0.989175  0.997222      A
5       A16  0.999946  0.997045  0.993160  0.998724      A
6       A17  0.999843  0.997207  0.992632  0.998323      A
7       A18  0.999926  0.997907  0.991544  0.998414      A
8       A19  0.999334  0.995571  0.994014  0.997914      A
9       A20  0.999953  0.996540  0.991729  0.998044      A
10      B11  0.993664  0.999023  0.977928  0.992263      B
11      B12  0.961317  0.976046  0.926041  0.955458      B
12      B13  0.996154  0.999869  0.982819  0.994581      B
13      B14  0.992325  0.998637  0.975403  0.990490      B
14      B15  0.996245  0.999838  0.984429  0.995791      B
15      B16  0.990705  0.997128  0.970497  0.986736      B
16      B17  0.986526  0.994753  0.962956  0.982028      B
17      B18  0.994135  0.998836  0.980004  0.993586      B
18      B19  0.996916  0.999900  0.986145  0.996606      B
19      B20  0.997186  0.999966  0.986476  0.996631      B
20      C11  0.998481  0.995469  0.997019  0.999756      D
21      C12  0.995870  0.990242  0.999251  0.998599      C
22      C13  0.998012  0.994775  0.997581  0.999585      D
23      C14  0.994699  0.989569  0.999573  0.997765      C
24      C15  0.998232  0.996207  0.996361  0.999923      D
25      C16  0.989895  0.980120  0.998894  0.992601      C
26      C17  0.997519  0.994196  0.997862  0.999731      D
27      C18  0.985844  0.976696  0.998339  0.991753      C
28      C19  0.986059  0.975974  0.998050  0.991398      C
29      C20  0.992567  0.985513  0.999495  0.996618      C
30      D11  0.994279  0.989191  0.999119  0.998201      C
31      D12  0.998993  0.997860  0.994108  0.999206      D
32      D13  0.998591  0.997153  0.995285  0.999876      D
33      D14  0.998806  0.997984  0.993590  0.999664      D
34      D15  0.998476  0.997055  0.995532  0.999650      D
35      D16  0.997775  0.994557  0.997380  0.999866      D
36      D17  0.998427  0.995738  0.996849  0.999762      D
37      D18  0.994836  0.988965  0.998704  0.996532      C
38      D19  0.996134  0.990861  0.999295  0.998527      C
39      D20  0.996419  0.991299  0.998854  0.998172      C